body {
  font-family: sans-serif;
}
.contents {
  display: flex;
  flex-direction: row;
}

.global-state {
  display: block;
  border: 2px solid #cacaca;
  height: 120px;
  text-align: center;
  padding: 20px;
}
.component-a,
.component-b {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #cacaca;
  padding: 20px;
}
